@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lugrasimo&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/*
.source-serif-4-<uniquifier> {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: <200-900>;
  font-style: normal;
}

.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <400-900>;
  font-style: normal;
}

.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
} 
*/

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.link {
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
}

a:visited, a:link {
  color: aliceblue;
}

.header{
  background: linear-gradient(0deg, #fb8500, 70%, #7d3f09);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;     
  z-index: 1000;
}

.header .navbar {
  margin-left: 3%;
}

.header nav {
  margin-right: 2%;
}

.header .navbar img {
  width: 60px;
  height: 50px;
  border-radius: 45%;
  cursor: pointer;
  transition: all 0.3s;
}

.header .navbar img:hover {
  transform: scale(1.2);
}

.header .bar-link {
  list-style: none;
}

.bar-link li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.1s;
}

.bar-link a {
  color: #031926;
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.bar-link li:hover{
  transform: scale(1.2);
}

.bar-link li a:hover {
  color: aliceblue;
}

.bigset-wel {
  background: linear-gradient(180deg, #031926, 90%, #04324c);
  color: antiquewhite;
  height: 860px;
}

#welcome-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 860px;
  justify-content: center;
}

#welcome-section h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
}

#welcome-section p {
  font-style: italic;
  font-size: 30px;
  color: #d69c5a;
}

.bigset-pro {
  background-color: #f4e9cd;
  color: #000000;
  height: 860px;
  display: flex;
  justify-content: center;
}

.bigset-pro .project-tile {
  height: 350px;
  width: 350px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: all 0.35s;
}

.bigset-pro .project-tile:hover {
    transform: scale(1.05);
}

.bigset-pro .ti-proj {
  background: linear-gradient(180deg, #031926, 90%, #04324c);
  color: antiquewhite;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  z-index: 2;
  margin: 0;
}

.project-tile img {
  height: 300px;
  width: 100%;
  z-index: 1;
  margin: 0;
  display: block;
}

#projects {
  display:grid;
  height: 860px;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap:100px;
}

#about {
  background: linear-gradient(45deg, #474746, #32312c, #474746);
  height: 150px;
  color: aliceblue;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .link:hover {
  transform: scale(1.2);
}

/*Pantallas Chicas*/
@media screen and (max-width:480px) {
  body {
   background-color: #000000;
  }
 
  * {
   margin: auto;
   padding: auto;
   font-size: 15px;
   font-family: "Source Serif 4", serif;
   font-weight: 400;
   font-style: normal;
   box-sizing: border-box;
  }

  /*Porcion de Grilla Cambiada*/

  .bigset-pro .ti-proj {
  background: linear-gradient(180deg, #031926, 90%, #04324c);
  color: antiquewhite;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  z-index: 2;
  margin: 0;
}

.project-tile img {
  height: 260px;
  width: 100%;
  z-index: 1;
  margin: 0;
  display: block;
}

.bigset-pro .project-tile {
  height: 300px;
  width: 300px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: all 0.35s;
}

/*Disposición*/

.bigset-pro {
  background-color: #f4e9cd;
  color: #000000;
  height: 860px;
  display: flex;
  justify-content: center;
}

#projects {
  display:grid;
  height: 860px;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap:100px;
}

}