@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lugrasimo&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

/*
.source-serif-4-<uniquifier> {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: <200-900>;
  font-style: normal;
}

.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <400-900>;
  font-style: normal;
}

.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
} 
*/

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  /*box-sizing: border-box;*/
}

a {
  text-decoration: none;
}

.link {
  transition: all 0.3s;
  display: inline-block;
  text-decoration: none;
}

a:visited,
a:link {
  color: aliceblue;
}

.header {
  background: linear-gradient(0deg, #fb8500, 70%, #7d3f09);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header .navbar {
  margin-left: 3%;
}

.header nav {
  margin-right: 2%;
}

.header .navbar img {
  width: 60px;
  height: 50px;
  border-radius: 45%;
  cursor: pointer;
  transition: all 0.3s;
}

.header .navbar img:hover {
  transform: scale(1.2);
}

.header .bar-link {
  list-style: none;
}

.bar-link li {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.1s;
}

.bar-link a {
  color: #031926;
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.bar-link li:hover {
  transform: scale(1.2);
}

.bar-link li a:hover {
  color: aliceblue;
}

.bigset-wel {
  background: linear-gradient(180deg, #031926, 90%, #04324c);
  color: antiquewhite;
  height: 860px;
}

/*Media Query for the Navbar*/

@media (max-width: 500px) {

.header {
  justify-content: space-around;
}

.bar-link a {
  font-size: 1rem;
}

.bar-link li {
  display:block;
}

}

/*End of Media Query for the Navbar*/

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 860px;
  justify-content: center;
}

#welcome-section h1 {
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  font-size: 65px;
}

#welcome-section p {
  font-style: italic;
  font-size: 30px;
  color: #d69c5a;
}

/*Media Query for the Welcom-section*/

@media (max-width: 750px){
 
#welcome-section h1, #welcome-section p {
  font-size:1.8rem;
}



}

/*End of Media Query for the Welcom-section*/
.bigset-pro {
  background-color: #f4e9cd;
  height: 860px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bigset-pro #ptx {
  display: block;
  justify-content: center;
  width: 60%;
  height: 60px;
  margin-top: 2rem;
}

.bigset-pro #pText {
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  text-align: center;
 
}

.bigset-pro .bar {
  height: 1px;
  display: block;
  width: 100%;
  background-color: #031926;
  justify-items: center;
}

.bigset-pro .project-tile {
  height: 350px;
  width: 350px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  transition: all 0.35s;
}

.bigset-pro .project-tile:hover {
  transform: scale(1.05);
}

.bigset-pro .ti-proj {
  background: linear-gradient(180deg, #031926, 90%, #04324c);
  color: antiquewhite;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Cinzel", serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
  z-index: 2;
  margin: 0;
}

.project-tile img {
  height: 300px;
  width: 100%;
  z-index: 1;
  margin: 0;
  display: block;
}

#projects {
  display: grid;
  height: auto;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 750px) {

  /*Porcion de Grilla Cambiada*/
  .bigset-pro {
    height: 105rem;
  }

  #projects {
    grid-template-columns: 1fr;
    height: auto;
    gap: 4rem;
  }

  .bigset-pro .project-tile {
    height: 18rem;
    width: auto;
    margin: 0px;
  }

  .project-tile img {
    height: 18rem;
    width: auto;
    z-index: 1;
  }

  .bigset-pro .ti-proj {
    height: 50px;
    z-index: 2;
  }

  #pText {
    margin-top: 2.5rem;
  }

}

@media (max-width: 450px){

.bigset-pro .project-tile, .project-tile img {
  height: 15rem;
}

.bigset-pro {
    height: 95rem;
  }

#pText {
    margin-top: 1rem;
  }

}

#about {
  background: linear-gradient(45deg, #474746, #32312c, #474746);
  height: auto;
  color: aliceblue;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#about h2 {
  font-size: 50px;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

#about p {
  font-size: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#about .link {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  padding: 40px 20px;
  text-align: center;
  gap: 10px
}

#about .link:hover {
  transform: translateY(10px);
  color: #f1da8e;
}


#about img {
  height: 35px;
  width: auto;
}

/*Media Query for the About*/

@media (max-width: 810px) {

#about h2 {
  font-size: 3rem;
}

#about .link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 16px;
  padding: 1rem;
}

#about div {
  margin: 1rem;
}

}

/*End of Media Query for the About*/
